.main {
  position: absolute;
  outline: 1px dashed red;

  cursor: move;
  //   pointer-events: none;

  textarea {
    resize: none;
    outline: none;
    border: none;
    &:-webkit-focus-visible {
      outline: none;
    }
  }
}
